@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-wood-dark text-wood-light antialiased selection:bg-wood-accent selection:text-wood-dark;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Scrollbar personalizada classe A */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1A1714;
}
::-webkit-scrollbar-thumb {
  background: #36302B;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C5A059;
}
